form a {
    margin-left: 25px
}

table, th, td {
    border: 1px solid black;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.text-center {
    text-align: center;
}

.search-bar-padding {
    padding-top : 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.table {
    width: 90%;
}

.input-group {
    margin: 0 auto;
    float: node;
}

.input-group-btn {
    vertical-align: middle;
}

.button-custom-margin5 {
    margin: 0 auto 5px;
}

.button-custom-margin10 {
    margin: 0 auto 10px;
}

.button-custom-size-120 {
    width: 120px !important;
}

.button-custom-size-150 {
    width: 120px !important;
}

.button-custom-size-200 {
    width: 200px !important;
}

.postplay-form-custom-padding {
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 30px;
}

.postuser-form-custom-padding {
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 30px;
}

.play-div-custom-padding {
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.play-ButtonToolbar {
    position: relative;
    top: 20px;
    left: 190px;
}

.users-div-custom-padding {
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    width: 90%;
}

.postmultipleusers-div-custom-padding {
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.postmultipleplays-div-custom-padding {
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.playdetail-div-custom-padding {
    padding-right: 200px;
    padding-bottom: 80px;
    padding-left: 80px;
}

.rowContent {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}

.play-table-div {
    display: inline;
    float: left;
    width: 1360px !important;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    margin: auto;
}

.play-AdminNavigation-div {
    display: inline;
    float: left;
    margin: auto;
}

.intro-div {
    position: relative;
    top: 80px;
    left: 600px;
}

.intro-link-padding {
    padding-right: 15px;
    padding-left: 15px;
    margin: 10px;
}

.play-search-field {
    width: 297px !important;
}

.play-details-container {
    width: 1295px;
    border: 1px solid gray;
    margin-top: 3px;
}

.play-details-title {
    padding: 1em;
    clear: left;
    text-align: center;
}

.play-details-navigation-and-information {
    border-bottom: 1px solid gray;
}

.play-details-genre {
    float: left;
    width: 182px;
    height: 75px;
    margin: 0;
    padding: 1em;
    border: 1px solid gray;
    margin-left:-1px;
    margin-right:-1px;
    margin-bottom:-1px;
}

.play-details-actor-count {
    float: left;
    width: 143px;
    height: 75px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    border: 1px solid gray;
    margin-right:-1px;
    margin-bottom:-1px;
}

.play-details-author {
    float: left;
    width:325px;
    height: 75px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    border: 1px solid gray;
    margin-right:-1px;
    margin-bottom:-1px;
}

.play-details-time-period {
    float: left;
    width: 182px;
    height: 75px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    border: 1px solid gray;
    margin-right:-1px;
    margin-bottom:-1px;
}

.play-details-costume-count {
    float: left;
    width: 156px;
    height: 75px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    border: 1px solid gray;
    margin-right:-1px;
    margin-bottom:-1px;
}

.play-details-has-spectacle {
    float: left;
    min-width: 143px;
    height: 75px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    border: 1px solid gray;
    margin-right:-1px;
    margin-bottom:-1px;
}

.play-details-copies {
    float: left;
    width:169px;
    height: 75px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    border: 1px solid gray;
    margin-right:-1px;
    margin-bottom:-1px;
}

.play-details-decription {
    padding: 1em;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid gray;
}
