form a {
    margin-left: 25px
}

table, th, td {
    border: 1px solid black;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.text-center {
    text-align: center;
}

.search-bar-padding {
    padding-top : 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.table {
    width: 90%;
}

.input-group {
    margin: 0 auto;
    float: node;
}

.input-group-btn {
    vertical-align: middle;
}

.button-custom-margin5 {
    margin: 0 auto 5px;
}

.button-custom-margin10 {
    margin: 0 auto 10px;
}

.button-custom-size-150 {
    width: 120px !important;
}

.button-custom-size-200 {
    width: 200px !important;
}

.postplay-form-custom-padding {
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 30px;
}

.postuser-form-custom-padding {
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 30px;
}

.play-div-custom-padding {
    padding-right: 15px;
    padding-bottom: 30px;
    padding-left: 15px;
}

.users-div-custom-padding {
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    width: 90%;
}

.postmultipleusers-div-custom-padding {
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.postmultipleplays-div-custom-padding {
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.playdetail-div-custom-padding {
    padding-right: 200px;
    padding-bottom: 80px;
    padding-left: 80px;
}

.rowContent {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}
