form a {
    margin-left: 25px
}

table, th, td {
    border: 1px solid black;

}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.input-group {
  margin: 0 auto;
  float: node;
}
